<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= id %> - Мой профиль</title>
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
    
    <header>
        <h1><%= titleData %></h1>
    </header>
    
    
    
    <main>
        <section>
            <h2>Описание</h2>
            <p><%= bioData %></p>
        </section>
        
        

        
        
        <!-- Добавьте здесь другие разделы, если нужно -->
    </main>
    <footer>
        <p>&copy; <%= new Date().getFullYear() %> Мой профиль</p>
    </footer>
</body>
</html>
